/* ABSTRACTS (variables mixins)*/
/*   BASE resets tipografias estilos globales */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}

h3 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 50px;
}

h4 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

.small-text {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Big Shoulders", sans-serif;
}

/*  LAYOUT  estructura general del sitio*/
.heroe {
  max-width: 1275px;
  margin: 0 auto;
}
.heroe--container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
}
.heroe--container::before {
  content: "";
  width: 33%;
  height: 623px;
  background-color: #151515;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0;
  z-index: -10;
}
.heroe--container img {
  max-width: 33%;
  position: absolute;
  left: 33%;
  height: 623px;
  z-index: -1;
}
.heroe--container .heroe--title {
  max-width: 514px;
  position: absolute;
  color: #fff;
  top: 10%;
  left: 8%;
}
.heroe--container .heroe--title h1 {
  width: 100%;
  text-transform: uppercase;
}
.heroe--info {
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: absolute;
  left: 60%;
  top: 10%;
  max-width: 350px;
  max-height: 300px;
}
@media (max-width: 768px) {
  .heroe {
    /* Estilos tablet */
  }
}
@media (max-width: 375px) {
  .heroe {
    /* Estilos mobile */
  }
}

/*    COMPONENTS botones tarjetas etc*/
.btn {
  background-color: #151515;
  width: 260px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.btn--label {
  font-family: "Big Shoulders", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  padding: 40px;
}
.btn--icon {
  background-color: #D5966C;
  width: 56px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #D5966C;
}
.btn:hover .btn--icon {
  background-color: #151515;
}

.btn--home {
  background-color: #151515;
  width: 260px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.btn--home-icon {
  background-color: #D5966C;
  width: 56px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--home-label {
  font-family: "Big Shoulders", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  padding: 38px;
}
.btn--home:hover {
  background-color: #D5966C;
}
.btn--home:hover .btn--home-icon {
  background-color: #151515;
}

/*    PAGES   estilos especificos para cada pagina*/
/*   THEMES    */
/*  VENDORS    codigo de terceros*//*# sourceMappingURL=style.css.map */