/* ABSTRACTS (variables mixins)*/
/*   BASE resets tipografias estilos globales */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}

h3 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 50px;
}

h4 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

.small-text {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Big Shoulders", sans-serif;
}

/*  LAYOUT  estructura general del sitio*/
.heroe {
  max-width: 1275px;
  margin: 0 auto;
}
.heroe--container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
}
.heroe--container::before {
  content: "";
  width: 33%;
  height: 623px;
  background-color: #151515;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0;
  z-index: -10;
}
.heroe--container .heroe__picture img {
  position: absolute;
  left: 33%;
  max-height: 623px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.heroe--container .heroe--title {
  max-width: 514px;
  position: absolute;
  color: #fff;
  top: 10%;
  left: 8%;
}
.heroe--container .heroe--title h1 {
  width: 100%;
  text-transform: uppercase;
}
.heroe--container .heroe--title h2 {
  display: none;
}
.heroe--info {
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: absolute;
  left: 60%;
  top: 10%;
  max-width: 350px;
  max-height: 300px;
}

@media (max-width: 768px) {
  /* Estilos tablet */
  .heroe {
    height: 700px;
    max-width: 768px;
  }
  .heroe--container {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    position: relative;
  }
  .heroe--container::before {
    content: none;
  }
  .heroe--container .heroe__picture img {
    max-height: 700px;
    left: 0;
    top: 0;
  }
  .heroe .heroe--title {
    position: absolute;
    color: #151515;
    max-width: 339px;
    top: 15%;
    left: 50%;
  }
  .heroe .heroe--title h1 {
    display: none;
  }
  .heroe .heroe--title h2 {
    color: #151515;
    display: inline-block;
    text-transform: uppercase;
  }
  .heroe .heroe--info {
    position: absolute;
    top: 45%;
    left: 50%;
    max-width: 339px;
  }
  .heroe .heroe--info p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (max-width: 430px) {
  /* Estilos mobile */
  .heroe--container {
    position: relative;
    margin: auto;
    max-width: 430px;
  }
  .heroe--container .heroe__picture img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
  }
  .heroe .heroe--title {
    position: absolute;
    top: 32%;
    left: 5%;
  }
  .heroe .heroe--info {
    position: absolute;
    top: 52%;
    left: 5%;
  }
}
.body-wrapper {
  margin: 0 auto;
  max-width: 1275px;
}

.location--container {
  position: relative;
  background-color: #151515;
}
.location--container svg.pointer {
  position: absolute;
  top: 20.5%;
  left: 47.5%;
}
.location--container a {
  position: absolute;
  top: 0;
  left: 10%;
}
.location--container .location--text {
  display: flex;
  justify-content: flex-start;
  padding: 12%;
  gap: 30%;
  padding-right: 12%;
}
.location--container .location--text .location--small-text {
  max-width: 41%;
}
.location--container .location--text h3, .location--container .location--text h4 {
  text-transform: uppercase;
}
.location--container .location--text h3 {
  color: #fff;
  line-height: 4.5rem;
  font-size: 70px;
}
.location--container .location--text h4 {
  color: #D5966C;
}
.location--container .location--text p, .location--container .location--text p.small-text {
  color: #fff;
}

.footer-main {
  background-color: #D5966C;
}
.footer-main .footer--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  padding: 12%;
  padding-block: 5%;
}
.footer-main .footer--container h4 {
  text-transform: uppercase;
  min-width: 180px;
  margin-right: 5%;
}
.footer-main .footer--container .svg--container {
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  /* Estilos tablet */
  .location--container svg.pointer {
    position: absolute;
    top: 21.5%;
    left: 46%;
  }
  .location--container a {
    position: absolute;
    top: 0;
    left: 5%;
  }
  .location--container .location--text {
    padding: 5%;
    gap: 10%;
    padding-right: 0;
    margin-right: 5%;
    padding-block: 12%;
  }
  .location--container .location--text .location--small-text {
    max-width: 60%;
  }
  .location--container .location--text h3 {
    color: #fff;
    line-height: 3.5rem;
    font-size: 55px;
  }
  .footer-main .footer--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5%;
    padding-right: 5%;
    padding-block: 5%;
  }
  .footer-main .footer--container h4 {
    text-transform: uppercase;
    min-width: 180px;
    margin-right: 5%;
    font-size: 30px;
    line-height: 30px;
  }
  .footer-main .footer--container .svg--container {
    display: flex;
    gap: 20px;
  }
  .footer-main .footer--container p {
    font-size: 16px;
    padding: 40px;
    align-self: left;
    padding-left: 0;
  }
}
@media (max-width: 430px) {
  /* Estilos mobile */
  .location--container .location--picture img {
    min-width: 430px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .location--container svg.pointer {
    position: absolute;
    top: 20%;
    left: 43%;
  }
  .location--container a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 0;
  }
  .location--container .location--text {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
    padding-right: 0;
    margin-right: 0;
    padding-block: 12%;
  }
  .location--container .location--text .location--small-text {
    max-width: 90%;
  }
  .location--container .location--text h3 {
    color: #fff;
    line-height: 3.5rem;
    font-size: 50px;
    margin-bottom: 10%;
  }
  .location--container .location--text p {
    font-size: 18px;
    padding: 10px;
    align-self: left;
    padding-left: 0;
    min-height: 80%;
  }
  .location--container .location--text .salto {
    display: none;
  }
  .footer-main .footer--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 5%;
    padding-right: 5%;
    padding-block: 15%;
  }
  .footer-main .footer--container h4 {
    text-transform: uppercase;
    min-width: 180px;
    margin-right: 5%;
    font-size: 30px;
    line-height: 30px;
  }
  .footer-main .footer--container .svg--container {
    align-self: right;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .footer-main .footer--container p {
    font-size: 16px;
    padding: 40px;
    align-self: left;
    padding-left: 0;
  }
}
/*    COMPONENTS botones tarjetas etc*/
.btn {
  background-color: #151515;
  width: 260px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.btn--label {
  font-family: "Big Shoulders", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  padding: 40px;
}
.btn--icon {
  background-color: #D5966C;
  width: 56px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #D5966C;
}
.btn:hover .btn--icon {
  background-color: #151515;
}

.btn--home {
  background-color: #151515;
  width: 260px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.btn--home-icon {
  background-color: #D5966C;
  width: 56px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--home-label {
  font-family: "Big Shoulders", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  padding: 38px;
}
.btn--home:hover {
  background-color: #D5966C;
}
.btn--home:hover .btn--home-icon {
  background-color: #151515;
}

/*    PAGES   estilos especificos para cada pagina*/
/*   THEMES    */
/*  VENDORS    codigo de terceros*//*# sourceMappingURL=style.css.map */