@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

.footer-main{
    background-color: var.$orange-ocre; 
    .footer--container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        padding: 12%;
        padding-block: 5%;
        h4{
            text-transform: uppercase;
            min-width:180px;
            margin-right: 5%;
        }
        .svg--container{
            display: flex;
            gap: 30px;
        }
    }   
}
.footer--black{
    background-color: var.$black;
    .footer--container{
        h4{
            color: var.$color;
        }
        p{
            color: var.$color;
        }
    }
}
@include mx.tablet {
    /* Estilos tablet */

.footer-main{     
    .footer--container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 5%;
        padding-right: 5%;
        padding-block: 5%;
        h4{
            text-transform: uppercase;
            min-width:180px;
            margin-right: 5%;
            font-size: 30px;
            line-height: 30px;
        }
        .svg--container{
            display: flex;
            gap: 20px;
        }
        p{
            font-size: 16px;
            padding: 40px;
            align-self: left;
            padding-left: 0;
        }
    }   
}
}

@include mx.mobile {
        /* Estilos mobile */
    
    .footer-main{     
    .footer--container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        padding: 5%;
        padding-right: 5%;
        padding-block: 15%;
        h4{
            text-transform: uppercase;
            min-width:180px;
            margin-right: 5%;
            font-size: 30px;
            line-height: 30px;
        }
        .svg--container{
            align-self: right;
            display: flex;
            justify-content: flex-end;
            gap: 20px;
        }
        p{
            font-size: 16px;
            padding: 40px;
            align-self: left;
            padding-left: 0;
        }
    }   
}
}
