@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

section.guide{
    .guide--container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        padding: 10%;
        padding-block: 0;
        margin-bottom: 30px;
        .guide--text-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 35%;
            gap: 40px;
            h2{
                max-width: 280px;
                text-transform: uppercase;
                font-size: 60px;
                line-height: 60px;
            }
            p{
                color: var.$gray-dark;
            }
        }
    }
    .guide--img img{
        min-height: 400px;
    }
}
@include mx.tablet {
    /* Estilos tablet */
    
}