@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

.heroe{
    max-width: 1275px;
    margin: 0 auto;
    &--container{        
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
        position: relative;
        &::before{
        content:  '';
        width: 33%;
        height: 623px;    
        background-color: var.$black;
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 0;
        z-index: -10;               
        }
        .heroe__picture img{
            position: absolute;
            left:33%;
            max-height: 623px;
            object-fit: cover;
            z-index: -1;
        }
        .heroe--title{
            max-width: 514px;
            position: absolute;
            color: var.$color;
            top: 10%;
            left: 8%;
            h1{
                width: 100%;
                text-transform: uppercase;
            }
            h2{
                display: none;
            }
        }
    }
    &--info{
        display: flex;
        gap: 40px;
        flex-direction: column;
        position: absolute;
        left: 60%;
        top: 10%;
        max-width: 350px;
        max-height: 300px;        
    }
}
     @include mx.tablet {
    /* Estilos tablet */
        .heroe{
            height: 700px;
            max-width: 768px;
            &--container{        
                margin-left: auto;
                margin-right: auto;                
                min-height: 100vh;
                position: relative;
                &::before{
                    content: none;                      
                }
                .heroe__picture img{
                    max-height: 700px;
                    left: 0;
                    top: 0;
                }
            }
            .heroe--title{
                position: absolute;
                color: var.$black;
                max-width: 339px;
                top: 15%;
                left: 50%;
                h1{
                    display: none;
                }
                h2{
                    color: var.$black;
                    display: inline-block;
                    text-transform: uppercase;
                }
            }
            .heroe--info{
                position: absolute;
                top: 45%;
                left: 50%;
                max-width: 339px;
                p{
                    font-size: 18px;
                    font-weight: 200;
                }
            }
        }
    }
    @include mx.mobile {
        /* Estilos mobile */
        .heroe{
            &--container{
                position: relative;
                margin: auto;
                max-width: 430px;
                .heroe__picture img{
                    width: 100%;
                    object-fit: cover;
                    margin-bottom: 10px
                }
            }
            .heroe--title{
                position: absolute;
                top: 32%;   
                left: 5%;                
            } 
            .heroe--info{
                position: absolute;
                top: 52%;   
                left: 5%;
            }                          

        }
    }

