@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

.body-wrapper{
    margin: 0 auto;
    max-width: 1275px;
}
.location--container{
    position: relative;
    background-color: var.$black; 
    svg.pointer{
        position: absolute;
        top: 20.5%;
        left: 47.5%;
    }   
    a{
        position: absolute;
        top: 0;
        left: 10%;
    }
    .location--text{
        display: flex;        
        justify-content: flex-start;
        padding: 12%;
        gap: 30%;
        
        padding-right: 12%;
        .location--small-text{
            max-width: 41%;
        }
        h3,h4{           
           text-transform: uppercase;
        }
        h3{
            color: var.$color; 
            line-height: 4.5rem;
            font-size: 70px;
        }
        h4{
            color: var.$orange-ocre;
        }
        p,p.small-text{
            color: var.$color;
        }
    }
}

@include mx.tablet {
    /* Estilos tablet */
    .location--container{    
        svg.pointer{
            position: absolute;
            top: 21.5%;
            left: 46%;
        }   
        a{
            position: absolute;
            top: 0;
            left: 5%;
        }
        .location--text{
            padding: 5%;
            gap: 10%;
            padding-right: 0;
            margin-right: 5%;
            padding-block: 12%;
            .location--small-text{
                max-width: 60%;
            }        
            h3{
                color: var.$color; 
                line-height: 3.5rem;
                font-size: 55px;
            }       
        }
    }
}

@include mx.mobile {
        /* Estilos mobile */
    .location--container{ 
        .location--picture img{
            width: auto;
            object-fit: cover;
        }   
        svg.pointer{
            position: absolute;
            top: 20%;
            left: 43%;
        }   
        a{
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding-left: 0;
        }
        .location--text{
            display: flex;
            flex-direction: column;
            padding: 5%;
            gap: 5%;
            padding-right: 0;
            margin-right: 0;
            padding-block: 12%;
            .location--small-text{
                max-width: 90%;
            }        
            h3{
                color: var.$color; 
                line-height: 3.5rem;
                font-size: 50px;
                margin-bottom: 10%;
            }
            p{
                font-size: 18px;
                padding: 10px;
                align-self: left;
                padding-left: 0;
                min-height: 80%;
            }
            .salto{
                display: none;
            }
        }          
    }
}
