@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

.body-wrapper{
    margin: 0 auto;
    max-width: 1275px;
}
.location--container{
    position: relative; 
    svg.pointer{
        position: absolute;
        top: 20.5%;
        left: 47.5%;
    }   
    a{
        position: absolute;
        top: 0;
        left: 10%;
    }
    .location--text{
        display: flex;        
        justify-content: flex-start;
        padding: 10%;
        gap: 30%;
        background-color: var.$black;
        padding-right: 5%;
        .location--small-text{
            max-width: 41%;
        }
        h3,h4{           
           text-transform: uppercase;
        }
        h3{
            color: var.$color; 
            line-height: 4.5rem;
            font-size: 70px;
        }
        h4{
            color: var.$orange-ocre;
        }
        p,p.small-text{
            color: var.$color;
        }
    }
}
.footer-main{
    background-color: var.$orange-ocre; 
    .footer--container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        padding: 10%;
        padding-block: 5%;
        h4{
            text-transform: uppercase;
            min-width:180px;
            margin-right: 5%;
        }
        .svg--container{
            display: flex;
            gap: 30px;
        }
    }   
}



@include mx.tablet {
    /* Estilos tablet */
}

@include mx.mobile {
        /* Estilos mobile */
}